#panel {
    background:rgba(40, 42, 52, 100%);
    border: 1px solid rgba(182, 153, 227, 100%);
}

#QToolButton {
    margin: 3px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 4px;
    qproperty-iconSize: 24px;
}

#QToolButton:hover {
    color: rgba(248, 248, 242, 100%);
    background: rgba(40, 42, 52, 30%);
    border: 1px solid rgba(182, 153, 227, 100%);
}

#QToolButton::menu-indicator {
   image: none;
}

#closeButton {
    qproperty-icon: url(lxqt-runner/window-close.svg);
}

#actionButton {
    qproperty-icon: url(lxqt-runner/application-menu.svg);
}

#commandList {
    background:rgba(68, 71, 90, 100%);
    border: 1px solid rgba(182, 153, 227, 100%);
    margin: 0px 1px 1px 1px;
}

#QMenu {
    border: 1px solid rgba(182, 153, 227, 100%);
    background:rgba(68, 71, 90, 100%);
    margin: 0px;
}

#QMenu::item {
    color: #F8F8F2;
}

#QMenu::item:selected {
    background: rgba(98, 114, 164, 50%);
    color: #F8F8F2;
}

#QMenu::right-arrow {
    image: url(right-arrow.svg);
}

