//spawn-at-startup "eval $(dbus-launch --sh-syntax --exit-with-session)"
spawn-at-startup "noctalia"

// PipeWire sound server & session management
spawn-at-startup "wireplumber"
spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"

spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "/usr/libexec/xdg-desktop-portal"
spawn-at-startup "/usr/libexec/xdg-desktop-portal-wlr"
spawn-at-startup "/usr/bin/rice_set"
