spawn-at-startup "noctalia"

// PipeWire sound server & session management
spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"
spawn-at-startup "wireplumber"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
