[Desktop Entry]
Type=Application
Name=Install Neko-Void
GenericName=System Installer
Comment=Install Neko-Void Linux to your computer
Exec=bash -c "if [ -x /home/anon/.setup/downloader ]; then sudo -E /home/anon/.setup/downloader; elif [ -x /usr/bin/neko_installer ]; then sudo /usr/bin/neko_installer; fi"
Icon=system-software-install
Categories=System;Utility;GTK;
StartupNotify=true
Keywords=installer;void;linux;install;instalar;neko;
Terminal=false
